@inherits MainLayoutBase

<div>
    <Layout Sider>
        <LayoutSider>
            <LayoutSiderContent>
                <IDEActivityBar Title="Fathym Studio"></IDEActivityBar>
            </LayoutSiderContent>
        </LayoutSider>

        <Layout>
            <LayoutHeader Fixed>
                <IDEHeader Title="MyStudio2"
                           PackagePath="studio/{selectedPackage}"
                           PluginPath="{selectedPlugin}"
                           Items="headerItems">
                </IDEHeader>
            </LayoutHeader>

            <LayoutContent>
                <Div Padding="Padding.Is2">
                    @Body
                </Div>
            </LayoutContent>

            <LayoutFooter>
                <IDEStatusBar Status="Configuring..."></IDEStatusBar>
            </LayoutFooter>
        </Layout>
    </Layout>
</div>

