@typeparam TDragonDropItem
@inherits DragonDropContainerBase<TDragonDropItem>

<div class="my-component">
    This component is defined in the <strong>@typeof(TDragonDropItem)</strong> library.
</div>

