@page "/"

<PageTitle>Index</PageTitle>

<div>
    <Carousel>
        <CarouselSlide Name="1">
            <Image Source="https://www.inconcertweb.com/wp-content/uploads/2017/02/WhatisHerov3.jpg" Text="Lights" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>

        <CarouselSlide Name="2">
            <Image Source="https://norsesoundcreative.com/wp-content/uploads/2017/09/hero-image-feature-img.jpg" Text="Keyboard" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>

        <CarouselSlide Name="3">
            <Image Source="https://turningpointct.org/wp-content/uploads/2018/01/Super-hero-head-sm.jpg" Text="Road" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
    </Carousel>

    <Card>
        <CardBody>
        </CardBody>
    </Card>
</div>
