@page "/mystudio"

<PageTitle>Fathym - MyStudio - Manage the way your studio works for you.</PageTitle>

<h1>My Studio</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
