@inherits IndexBase
@page "/studio/dfs"

<PageTitle>Fathym - Distributed File System</PageTitle>

<IDEStudioShell CollapseModeHide="@AppState.SmallDown"
                Title="Manage DFS"
                TitleIcon="@("fa-file")"
                TitleLink="/studio/dfs"
                Divider="Admin"
                Items="items">
    <h1>let's go</h1>
</IDEStudioShell>