@inherits IndexBase
@page "/enterprise/dfs"

<PageTitle>Fathym - Distributed File System</PageTitle>

<IDEStudioShell CollapseModeHide="@AppState.SmallDown"
                ActivityTitle="Manage DFS"
                ActivityTitleIcon="@("fas fa-file")"
                ActivityTitleLink="/studio/dfs"
                Title="Distributed File System"
                Divider="Admin"
                Items="items">
    <h1>let's go</h1>
</IDEStudioShell>