<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="Breakpoint.FullHD"
     NavigationBreakpoint="Breakpoint.Mobile"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <Div Padding="Padding.Is2">
                <Image Class="logo short" Source="https://www.fathym.com/assets/images/logo.png" Text="Fathym" />

                <Text Padding="Padding.Is2.FromStart" TextColor="TextColor.Primary">Fathym Studio</Text>
            </Div>
        </BarItem>
    </BarBrand>

    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="#home">
                    <BarIcon IconName="IconName.PaintBrush" />

                    MyStudio
                </BarLink>
            </BarItem>
        </BarStart>

        <BarEnd>
            <BarItem>
                <BarLink To="/settings">
                    <BarIcon IconName="IconName.Wrench" />

                    Settings
                </BarLink>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>