@*@inherits DataFlowCanvasBase*@

@*<div #ref="DataFlowCanvas" class="data-flow-container">
    <div #ref="El1">
        <h1>Hello</h1>
    </div>

    <div #ref="El2">
        <h1>World</h1>
    </div>
</div>*@

<div #ref="elRef"></div>
@code {
    ElementReference elRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        elRef.ToString();
    }
}